<h2> <%= @album.title %> </h2>

<label>Artist:
  <%= link_to @band.name, band_url(@band) %>
</label>
<br>

<label>Tracks:
  <ul>
  <% @album.tracks.each do |track| %>
    <li> <%= link_to track.title, track_url(track) %> </li>
  <% end %>
  </ul>
</label>
<br><br>

<%= link_to "Edit", edit_album_url %><br>
<%= link_to "Destroy", album_url(@album), method: :delete %>
